
.icon-search:before { content: '\e800'; } /* '' */
.icon-attention-circled:before { content: '\e802'; } /* '' */
.icon-cancel-circled:before { content: '\e803'; } /* '' */
.icon-pencil-1:before { content: '\e804'; } /* '' */